@import "./colors.scss";

.login {
  height: 80vh;
  width: 100%;
  background: radial-gradient(
    circle,
    rgba(227, 222, 215, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;

  > form {
    background-color: white;
    width: 650px;
    height: 60%;
    margin: auto;
    margin: 2rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > p{
      color: rgb(250, 0, 0);
      font-weight: 500;
    }

    > h2 {
      font-family: fantasy;
      font-weight: 100;
      margin-top: 1rem;
      text-align: center;
      color: $yellow;
    }
    > h3 {
      text-align: center;
    }
    > input {
      width: 50%;
      margin: 5px 0;
      padding: 0.5rem 1rem;
      outline: none;
      border: 0.5px solid #55555585;
      border-radius: 5px;
    }
    > button {
      margin: 5px 0;
      padding: 0.5rem 2rem;
      outline: none;
      border: none;
      background-color: $yellow;
      border-radius: 3px;
      font-size: 0.9rem;
      cursor: pointer;
      transition: all ease-in-out 0.2s;
      font-weight: 500;

      &:hover {
        background-color: $yellowdark;
      }
    }
    > div {
      > span {
        font-weight: 500;
        font-size: 1rem;
        margin: 0 5px;
      }
      > a {
        color: $yellow;
        font-weight: 500;
        font-size: 1rem;
      }
  }
}
}